<div fxLayout="row wrap" fxLayoutAlign="start stretch"></div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-horizontal-stepper linear="true" mat-horizontal-stepper="linear"><mat-step label="step1" completed="true" [complete]="isCompleted"><button mat-button matStepperNext="matStepperNext" mat-horizontal-stepper="linear" linear="true" color="warn">next</button>
      <div>
      </div>
    </mat-step><mat-step label="step2" completed="false"><button mat-button matStepperPrevious="matStepperPrevious">prev</button>
      <div>
      </div>
    </mat-step></mat-horizontal-stepper></div>